.cards {
    display: flex;
    justify-content: space-evenly;
    gap: 215px;
    /* Reduzi o gap de 92px para 40px */
    margin-top: 40px;
    color: white;
    font-family: 'Gabarito', sans-serif;
    flex-wrap: wrap;
    /* Permite quebra de linha em telas menores */
    padding: 0 20px;
    /* Adiciona padding lateral */;
}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 400px;
    perspective: 1000px;
    color: white;
    flex-shrink: 0;
    /* Impede que os cards encolham */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-front{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: white;
    color: #10367D;
    border: 2px solid #10367D;
    border-radius: 0 36px;
}

.flip-card-front.card2{
    color: #1889CD;
    border: 2px solid #1889CD;
}

.flip-card-front.card3{
    color: #80CFFF;
    border: 2px solid #80CFFF;
}

.flip-card-back{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    border: 2px solid #10367D;
    color: #10367D;
    transform: rotateY(180deg);
    padding-inline: 4px;
    font-size: 20px;
    border-radius: 36px 0;
}

.flip-card-back.card2{
    color: #1889CD;
    border: 2px solid #1889CD;
}

.flip-card-back.card3{
    color: #80CFFF;
    border: 2px solid #80CFFF;
}
