.header {
    width: 100dvw;
    height: 50px;
    background-color: #10367D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header .logo {
    width: 40px;
    height: 40px;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 2em;
    padding: 0;
    margin: 0;
    align-items: center;
}

.header nav ul li {
    display: flex;
    align-items: center;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    line-height: 1;
    padding: 0.25em 0;
}

.header a:hover {
    color: #1889CD;
}

/* ==== CABEÇALHO (TOPO) ==== */
header {
    width: 100dvw;
    font-family: sans-serif;
    position: sticky;
    z-index: 1000;/* Fica grudado no topo*/
    top: 0;
    text-align: center;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(12px);
    border-bottom: #10367D 1px solid;
    padding: 16px;
    /* Espaço interno */
    color: #272727;
    font-weight: 700;
}

nav {
    max-width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* Espaço entre os itens */
    align-items: center;
}